In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tobeencoded/tobeencoded.csv
/kaggle/input/testing/Dev_data_to_be_shared.csv
/kaggle/input/training/validation_data_to_be_shared.csv

In [2]:
df=pd.read_csv('/kaggle/input/testing/Dev_data_to_be_shared.csv')
df2=pd.read_csv('/kaggle/input/training/validation_data_to_be_shared.csv')

/tmp/ipykernel_42/975309876.py:1: DtypeWarning: Columns (5,18,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/kaggle/input/testing/Dev_data_to_be_shared.csv')
/tmp/ipykernel_42/975309876.py:2: DtypeWarning: Columns (4,17,22,23,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv('/kaggle/input/training/validation_data_to_be_shared.csv')

In [3]:
df_en=pd.read_csv('/kaggle/input/tobeencoded/tobeencoded.csv')

/tmp/ipykernel_42/4134110078.py:1: DtypeWarning: Columns (15,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_en=pd.read_csv('/kaggle/input/tobeencoded/tobeencoded.csv')

In [4]:
df['date'] = pd.to_datetime(df['account_opening_date'], format='%d-%m-%Y')

# Encode dates with sequential numerical values
df['sequential_date'] = df['date'].apply(lambda x: x.toordinal())

In [5]:
row_index = df.loc[df['sequential_date'] == 738490].index[0]
start_date=df.loc[row_index,'account_opening_date']
print(start_date)

01-12-2022

In [6]:
df['date'] = pd.to_datetime(df['account_opening_date'], format='%d-%m-%Y')

# Choose a reference date
reference_date = pd.to_datetime('30-11-2022')

# Calculate time since reference date
df['days_since_reference'] = (df['date'] - reference_date).dt.days

print(df[['date', 'days_since_reference']])

            date  days_since_reference
0     2023-02-18                    80
1     2023-02-01                    63
2     2022-12-09                     9
3     2023-03-31                   121
4     2023-01-17                    48
...          ...                   ...
99995 2022-12-21                    21
99996 2023-03-17                   107
99997 2022-12-08                     8
99998 2023-03-03                    93
99999 2023-02-03                    65

[100000 rows x 2 columns]

/tmp/ipykernel_42/912245354.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  reference_date = pd.to_datetime('30-11-2022')

In [7]:
df_datesorted=df.drop(columns=['account_opening_date','sequential_date','date'])

In [8]:
df_datesorted['date']=df_datesorted['days_since_reference']
df_datesorted.drop(columns=['days_since_reference'])
df_datesorted.columns

Index(['Primary key', 'Target', 'country_code', 'demog_1', 'demog_2', 'income',
       'demog_3', 'city_tier', 'occupation', 'demog_4',
       ...
       'demog_40', 'demog_41', 'others_42', 'others_43', 'others_44',
       'others_45', 'demog_42', 'demog_43', 'days_since_reference', 'date'],
      dtype='object', length=179)

In [9]:
df_datesorted.drop(columns=['days_since_reference'])

,Primary key,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,...,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43,date
0,1,0,IN,53.0,3.0,100001 to 5L,101.0,Rural,Self_Employed,N,...,gmail,low,1,NaN,0.0,NaN,NaN,1,medium,80
1,2,0,IN,55.0,1.0,0 to 1L,101.0,Tier 1,Salaried,N,...,gmail,High,1,NaN,NaN,NaN,NaN,1,High,63
2,3,0,IN,55.0,3.0,0 to 1L,101.0,Tier 2,Self_Employed,N,...,gmail,medium,1,NaN,NaN,NaN,NaN,1,High,9
3,4,0,IN,53.0,3.0,100001 to 5L,101.0,Tier 7,Self_Employed,N,...,gmail,High,1,NaN,NaN,NaN,NaN,1,High,121
4,5,0,IN,55.0,6.0,0 to 1L,101.0,Tier 1,Student,N,...,gmail,low,1,NaN,NaN,NaN,NaN,1,medium,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1,IN,55.0,2,0 to 1L,101.0,Rural,Self_Employed,N,...,gmail,High,1,NaN,NaN,NaN,NaN,1,High,21
99996,99997,1,IN,55.0,6,100001 to 5L,101.0,Rural,Student,N,...,gmail,low,1,NaN,NaN,NaN,NaN,1,medium,107
99997,99998,1,IN,55.0,1,100001 to 5L,101.0,Tier 6,Salaried,N,...,gmail,High,1,NaN,NaN,NaN,NaN,1,medium,8
99998,99999,1,IN,55.0,1,5L to 10L,101.0,Tier 1,Other,N,...,gmail,High,1,NaN,NaN,NaN,NaN,1,High,93
99999,100000,1,IN,401.0,2,5L to 10L,101.0,Tier 7,Self_Employed,N,...,gmail,medium,1,NaN,NaN,NaN,NaN,1,medium,65

In [10]:
df['income'].dtype

dtype('O')

In [11]:
df['income']=df['income'].astype(str)

In [12]:
df['income'].dtype

dtype('O')

In [13]:
def replace_float_with_string(value):
    
    if isinstance(value, str) and value == '0':
        return '0 to 0'
    else:
        return value
df['income_sort']=df['income'].apply(replace_float_with_string)
df['income_sort'].unique()
#df['income'].isna().sum()

array(['100001 to 5L', '0 to 1L', '5L to 10L', '10L to 25L', '0 to 0',
       '25L to 50L', '50L to 3Crore', '3Crore to 5Crore', 'nan',
       '10Crore to 15Crore', '5Crore to 10Crore', '20Crore to 35Crore',
       '15Crore to 20Crore'], dtype=object)

In [14]:
df_incomesorted=df.copy()
df_incomesorted=df[df['income']!='nan']
df_incomesorted['income_sort'].unique()
df_incomesorted=df_incomesorted.drop(columns=['income'],axis=1)
df_incomesorted['income_sort'].unique()

array(['100001 to 5L', '0 to 1L', '5L to 10L', '10L to 25L', '0 to 0',
       '25L to 50L', '50L to 3Crore', '3Crore to 5Crore',
       '10Crore to 15Crore', '5Crore to 10Crore', '20Crore to 35Crore',
       '15Crore to 20Crore'], dtype=object)

In [15]:
df_en['max_Income'].unique()

array([  1000000,    500000,    100000,   5000000,   2500000,         0,
        30000000,         7,  50000000, 100000000])

In [16]:

import numpy as np

# Sample DataFrame with an integer column


# Replace a specific number (e.g., 5) with NaN
specific_number = 7
df_en['min_Income'] = df_en['min_Income'].replace(specific_number, np.nan)

# Print the modified DataFrame

In [17]:
specific_number = 7
df_en['max_Income'] = df_en['max_Income'].replace(specific_number, np.nan)

In [18]:
df_en['max_Income'].isna().sum()

7

In [19]:
def convert_to_numeric(value):
    if 'L' in value:
        return int(value.replace('L', '')) * 100000
    elif 'Crore' in value:
        return int(value.replace('Crore', '')) * 10000000
    else:
        return int(value)


df_incomesorted[['min_Income', 'max_Income']] = df_incomesorted['income_sort'].str.split(' to ', expand=True)


df_incomesorted['min_Income'] = df_incomesorted['min_Income'].apply(convert_to_numeric)
df_incomesorted['max_Income'] = df_incomesorted['max_Income'].apply(convert_to_numeric)

In [20]:
df_incomesorted['min_Income'].head(10)

0    100001
1         0
2         0
3    100001
4         0
5    500000
6    100001
7    100001
8    100001
9    100001
Name: min_Income, dtype: int64

In [21]:
df['income_sort'].unique()

array(['100001 to 5L', '0 to 1L', '5L to 10L', '10L to 25L', '0 to 0',
       '25L to 50L', '50L to 3Crore', '3Crore to 5Crore', 'nan',
       '10Crore to 15Crore', '5Crore to 10Crore', '20Crore to 35Crore',
       '15Crore to 20Crore'], dtype=object)

In [22]:
df['income'].isna().sum()

0

In [23]:
df_incomesorted=df_incomesorted.drop(columns=['income_sort'])

In [24]:
df_sorted=df_incomesorted.copy()
df_sorted['date'] = pd.to_datetime(df_sorted['account_opening_date'], format='%d-%m-%Y')

# Choose a reference date
reference_date = pd.to_datetime('30-11-2022')

# Calculate time since reference date
df_sorted['days'] = (df['date'] - reference_date).dt.days

#print(df_sorted[['date', 'days']])
df_sorted=df_sorted.drop(columns=['date'])
df_sorted['max_Income']

/tmp/ipykernel_42/1206471883.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  reference_date = pd.to_datetime('30-11-2022')

0         500000
1         100000
2         100000
3         500000
4         100000
          ...
99995     100000
99996     500000
99997     500000
99998    1000000
99999    1000000
Name: max_Income, Length: 99994, dtype: int64

In [25]:
na_counts = df_sorted.isna().sum()

# Create a DataFrame to store column names and their corresponding NaN counts
na_info = pd.DataFrame({'Column': na_counts.index, 'NaN Count': na_counts.values})

# Sort the DataFrame based on NaN counts in descending order
na_info_sorted = na_info.sort_values(by='NaN Count', ascending=False)
na_info_sorted

        Column  NaN Count
174  others_45      99301
173  others_44      99120
171  others_42      97889
172  others_43      95415
165     txn_80      57475
..         ...        ...
125  others_18          0
140   demog_23          0
142   demog_25          0
144   demog_27          0
181       days          0

[182 rows x 2 columns]

In [26]:
na_counts = df_sorted.isna().sum()

# Create a DataFrame to store column names and their corresponding NaN counts
na_info = pd.DataFrame({'Column': na_counts.index, 'NaN Count': na_counts.values})

# Sort the DataFrame based on NaN counts in descending order
na_info_sorted = na_info.sort_values(by='NaN Count', ascending=False)
na_info_sorted

        Column  NaN Count
174  others_45      99301
173  others_44      99120
171  others_42      97889
172  others_43      95415
165     txn_80      57475
..         ...        ...
125  others_18          0
140   demog_23          0
142   demog_25          0
144   demog_27          0
181       days          0

[182 rows x 2 columns]

In [27]:
df_sorted=df_sorted.drop(columns=['others_42','others_43','others_44','others_45'],axis=1)

In [28]:
df_sorted.shape

(99994, 178)

In [29]:
df.shape

(100000, 182)

In [30]:
object_columns = df.select_dtypes(include='object').columns
print(object_columns)
object_columns.size

Index(['account_opening_date', 'country_code', 'demog_2', 'income',
       'city_tier', 'occupation', 'demog_4', 'demog_9', 'demog_10', 'demog_12',
       'demog_13', 'demog_14', 'demog_15', 'demog_16', 'demog_17', 'demog_18',
       'demog_19', 'demog_20', 'demog_21', 'demog_22', 'os', 'email_domain',
       'demog_40', 'demog_43', 'income_sort'],
      dtype='object')

25

In [31]:
df_sorted['occupation'].unique()

array(['Self_Employed', 'Salaried', 'Student', 'Other', 'Retired',
       'Homemaker', 'Minor', 'Unemployed'], dtype=object)

In [32]:
df_brutedrop=df_sorted.dropna()

In [33]:
fil_df=df_brutedrop[df_brutedrop['Target']==1]
fil_df.shape

(706, 178)

In [34]:
numerical_columns = df_sorted.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df_sorted.select_dtypes(include=['object']).columns

In [35]:
df_en.isna().sum()

Primary key        0
country_code    1863
demog_1         1864
demog_2         1865
demog_3            7
                ...
demog_42           0
demog_43        1888
min_Income         7
max_Income         7
days               0
Length: 174, dtype: int64

In [36]:
numerical_columns_en = df_en.select_dtypes(include=['float64', 'int64']).columns
categorical_columns_en = df_en.select_dtypes(include=['object']).columns

In [37]:
df_en['txn_1'].isna().sum()

12868

In [38]:
df_sorted=df_sorted.drop(columns=['days_since_reference','account_opening_date'])
df_sorted.shape

(99994, 176)

In [39]:
df_sorted=df_sorted.drop(columns=['sequential_date'])

In [40]:
df_sorted.shape

(99994, 175)

In [41]:
df_sorted2=df_sorted.copy()

In [42]:
df_sorted2.shape

(99994, 175)

In [43]:
numerical_columns = df_sorted.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df_sorted.select_dtypes(include=['object']).columns
categorical_columns

Index(['country_code', 'demog_2', 'city_tier', 'occupation', 'demog_4',
       'demog_9', 'demog_10', 'demog_12', 'demog_13', 'demog_14', 'demog_15',
       'demog_16', 'demog_17', 'demog_18', 'demog_19', 'demog_20', 'demog_21',
       'demog_22', 'os', 'email_domain', 'demog_40', 'demog_43'],
      dtype='object')

In [44]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for column in categorical_columns:
     print(df_sorted[column].dtype)

object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object
object

In [45]:
df_sorted['demog_2'] = pd.to_numeric(df_sorted['demog_2'], errors='coerce').astype('Int64')

In [46]:
df_sorted['demog_2'].dtype

Int64Dtype()

In [47]:
df_en['demog_2'].dtype

dtype('float64')

In [48]:
df['demog_2'].dtype

dtype('O')

In [49]:
numerical_columns = df_sorted.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df_sorted.select_dtypes(include=['object']).columns
categorical_columns.size

21

In [50]:
for columns in categorical_columns:
    df_sorted[columns]=df_sorted[columns].astype(str)

In [51]:
df_sorted['demog_2'].dtype

Int64Dtype()

In [52]:
df_sorted[numerical_columns].columns.shape

(154,)

In [55]:
from sklearn.preprocessing import LabelEncoder
df_sorted[categorical_columns] = df_sorted[categorical_columns].fillna('Unknown')

# Label encode all categorical columns
label_encoder = LabelEncoder()
for column in categorical_columns:
    if df_sorted[column].dtype == 'object':  # Check if the column is of object type
        df_sorted[column] = label_encoder.fit_transform(df_sorted[column])

In [56]:
for columns in categorical_columns_en:
    df_en[columns]=df_en[columns].astype(str)
df_en[categorical_columns_en] = df_en[categorical_columns_en].fillna('Unknown')
for column in categorical_columns_en:
    if df_en[column].dtype == 'object':  # Check if the column is of object type
        df_en[column] = label_encoder.fit_transform(df_en[column])

In [57]:
for column in categorical_columns_en:
     print(df_en[column].dtype)

int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [59]:
for columns in df_en.columns:
    print(df_en[columns].dtype)

int64
int64
float64
float64
float64
int64
int64
int64
float64
float64
float64
float64
int64
int64
float64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
int64
int64
int64
float64
float64
int64

In [60]:
from sklearn.ensemble import RandomForestRegressor

# Assuming df is your DataFrame
# Select numeric columns with missing values
numeric_columns_with_missing = df_sorted.select_dtypes(include=['int', 'float']).columns[df_sorted.select_dtypes(include=['int', 'float']).isnull().any()]

# Prepare data for training
train_data_numeric = df_sorted.dropna(subset=numeric_columns_with_missing)
test_data_numeric = df_sorted[df[numeric_columns_with_missing].isnull().any(axis=1)]

X_train_numeric = train_data_numeric.drop(numeric_columns_with_missing, axis=1)
y_train_numeric = train_data_numeric[numeric_columns_with_missing]
X_test_numeric = test_data_numeric.drop(numeric_columns_with_missing, axis=1)

# Train a random forest model
model_numeric = RandomForestRegressor()
model_numeric.fit(X_train_numeric, y_train_numeric)

# Predict missing values
predicted_values_numeric = model_numeric.predict(X_test_numeric)

# Fill missing values in the original DataFrame
df_sorted.loc[df_sorted[numeric_columns_with_missing].isnull().any(axis=1), numeric_columns_with_missing] = predicted_values_numeric

/tmp/ipykernel_42/2486150195.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  test_data_numeric = df_sorted[df[numeric_columns_with_missing].isnull().any(axis=1)]

TypeError: cannot safely cast non-equivalent object to int64

In [61]:
object_columns = df_sorted.select_dtypes(include=['object']).columns
print(object_columns)

Index([], dtype='object')

In [62]:
object_columns_en = df_en.select_dtypes(include=['object']).columns
print(object_columns_en)

Index([], dtype='object')

In [65]:
df_en2=df_en.copy()

In [71]:
df_sorted3=df_sorted2.copy()
numerical_columns = df_sorted2.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = df_sorted2.select_dtypes(include=['object']).columns
categorical_columns.size

22

In [66]:
df_en3=df_en2.copy()
numerical_columns_en = df_en2.select_dtypes(include=['float64', 'int64']).columns
categorical_columns_en = df_en2.select_dtypes(include=['object']).columns
numerical_columns_en.size

174

In [68]:
categorical_columns.size

22

In [69]:
df_en2=pd.read_csv('/kaggle/input/tobeencoded/tobeencoded.csv')

/tmp/ipykernel_42/1130329299.py:1: DtypeWarning: Columns (15,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_en2=pd.read_csv('/kaggle/input/tobeencoded/tobeencoded.csv')

In [72]:
df_en3=df_en2.copy()
numerical_columns_en = df_en2.select_dtypes(include=['float64', 'int64']).columns
categorical_columns_en = df_en2.select_dtypes(include=['object']).columns
categorical_columns_en.size

21

In [73]:
numerical_columns.size

153

In [86]:
categorical_columns

Index(['country_code', 'demog_2', 'city_tier', 'occupation', 'demog_4',
       'demog_9', 'demog_10', 'demog_12', 'demog_13', 'demog_14', 'demog_15',
       'demog_16', 'demog_17', 'demog_18', 'demog_19', 'demog_20', 'demog_21',
       'demog_22', 'os', 'email_domain', 'demog_40', 'demog_43'],
      dtype='object')

In [85]:
categorical_columns_en.size

21

In [89]:
df_en2['demog_2']=df_en2['demog_2'].astype(str)

In [91]:
numerical_columns_en = df_en2.select_dtypes(include=['float64', 'int64']).columns
categorical_columns_en = df_en2.select_dtypes(include=['object']).columns
numerical_columns_en.size

152

In [92]:
for columns in categorical_columns:
    df_sorted2[columns]=df_sorted2[columns].astype(str)

In [93]:
for columns in categorical_columns_en:
    df_en2[columns]=df_en2[columns].astype(str)

In [94]:
from sklearn.preprocessing import LabelEncoder
df_sorted2[categorical_columns] = df_sorted2[categorical_columns].fillna('Unknown')

# Label encode all categorical columns
label_encoder = LabelEncoder()
for column in categorical_columns:
    if df_sorted2[column].dtype == 'object':  # Check if the column is of object type
        df_sorted2[column] = label_encoder.fit_transform(df_sorted2[column])

In [95]:
df_en2[categorical_columns_en] = df_en2[categorical_columns_en].fillna('Unknown')

In [96]:
for column in categorical_columns_en:
    if df_en2[column].dtype == 'object':  # Check if the column is of object type
        df_en2[column] = label_encoder.fit_transform(df_en2[column])

In [97]:
categorical_columns.size

22

In [98]:
categorical_columns_en.size

22

In [99]:
for cols in numerical_columns:
    print(df_sorted2[cols].dtype)

int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
float64
float64
float64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
int64
int64
int64
int64
float64
float64
float64
float64
int64
int64
int64
int64
int64
int64

In [100]:
for cols in numerical_columns_en:
    print(df_en2[cols].dtype)

int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
int64
int64
int64

In [101]:
c=0;
for cols in numerical_columns:
    if  (df_sorted2[cols].apply(type).unique()).size>1:
        c=c+1;
print(c)

0

In [102]:
c=0;
for cols in numerical_columns_en:
    if  (df_en2[cols].apply(type).unique()).size>1:
        c=c+1;
print(c)

0

In [103]:
from sklearn.ensemble import RandomForestRegressor

# Assuming df is your DataFrame
# Select numeric columns with missing values
numeric_columns_with_missing = df_sorted2.select_dtypes(include=['int', 'float']).columns[df_sorted2.select_dtypes(include=['int', 'float']).isnull().any()]

# Prepare data for training
train_data_numeric = df_sorted2.dropna(subset=numeric_columns_with_missing)
test_data_numeric = df_sorted2[df_sorted2[numeric_columns_with_missing].isnull().any(axis=1)]

X_train_numeric = train_data_numeric.drop(numeric_columns_with_missing, axis=1)
y_train_numeric = train_data_numeric[numeric_columns_with_missing]
X_test_numeric = test_data_numeric.drop(numeric_columns_with_missing, axis=1)

# Train a random forest model
model_numeric = RandomForestRegressor()
model_numeric.fit(X_train_numeric, y_train_numeric)

# Predict missing values
predicted_values_numeric = model_numeric.predict(X_test_numeric)

# Fill missing values in the original DataFrame
df_sorted2.loc[df_sorted2[numeric_columns_with_missing].isnull().any(axis=1), numeric_columns_with_missing] = predicted_values_numeric

In [104]:
df_sorted2.isna().sum()

Primary key     0
Target          0
country_code    0
demog_1         0
demog_2         0
               ..
demog_42        0
demog_43        0
min_Income      0
max_Income      0
days            0
Length: 175, dtype: int64

In [105]:
numeric_columns_with_missing_en = df_en2.select_dtypes(include=['int', 'float']).columns[df_en2.select_dtypes(include=['int', 'float']).isnull().any()]

# Prepare data for training
train_data_numeric_en = df_en2.dropna(subset=numeric_columns_with_missing_en)
test_data_numeric_en = df_en2[df_en2[numeric_columns_with_missing_en].isnull().any(axis=1)]

X_train_numeric_en = train_data_numeric_en.drop(numeric_columns_with_missing_en, axis=1)
y_train_numeric_en= train_data_numeric_en[numeric_columns_with_missing_en]
X_test_numeric_en = test_data_numeric_en.drop(numeric_columns_with_missing_en, axis=1)
model_numeric.fit(X_train_numeric_en, y_train_numeric_en)
predicted_values_numeric_en = model_numeric.predict(X_test_numeric_en)

# Fill missing values in the original DataFrame
df_en2.loc[df_en2[numeric_columns_with_missing_en].isnull().any(axis=1), numeric_columns_with_missing_en] = predicted_values_numeric_en

In [106]:
df_en2.isna().sum()

Primary key     0
country_code    0
demog_1         0
demog_2         0
demog_3         0
               ..
demog_42        0
demog_43        0
min_Income      0
max_Income      0
days            0
Length: 174, dtype: int64

int64
int64
float64
int64
float64
int64
int64
int64
float64
float64
float64
float64
int64
int64
float64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
int64
int64
int64
int64
int64
int64
int64
int64
int64

In [ ]:
df_en2.to_csv('/kaggle/working/filldata.csv', index=False)

,Primary key,country_code,demog_1,demog_2,demog_3,city_tier,occupation,demog_4,demog_5,demog_6,...,txn_81,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,min_Income,max_Income,days
0,9000001,9,56.00,5,101.0,7,5,5,4.00,1.0,...,9.00,1,2,0,1,1,0,500000,1000000,115
1,9000002,9,68.63,0,101.0,5,4,5,3.41,1.0,...,44.00,1,2,1,1,1,2,100001,500000,46
2,9000003,9,72.26,0,101.0,1,2,5,3.66,1.0,...,34.12,1,2,1,1,1,2,100001,500000,37
3,9000004,9,103.20,0,101.0,1,2,5,3.39,1.0,...,57.67,1,2,2,1,1,0,100001,500000,70
4,9000005,9,244.90,0,101.0,5,2,5,2.89,1.0,...,22.59,1,2,1,1,1,0,100001,500000,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,9049996,9,227.81,5,101.0,6,5,5,2.71,1.0,...,30.41,1,0,0,1,1,0,100001,500000,63
49996,9049997,9,53.00,6,101.0,2,5,5,4.00,1.0,...,20.00,1,2,0,1,1,0,100001,500000,49
49997,9049998,9,53.00,6,101.0,0,5,5,4.00,1.0,...,18.00,1,2,1,1,1,0,500000,1000000,69
49998,9049999,9,401.00,9,101.0,5,6,5,2.00,1.0,...,7.00,1,2,0,1,1,2,100001,500000,37
49999,9050000,9,57.45,6,101.0,6,5,5,3.68,1.0,...,23.41,1,2,0,1,1,0,100001,500000,11

In [114]:
df_en2.to_csv('/kaggle/working/filldata.csv', index=False)